@media screen and (max-width: 1280px) {
    .main {
        padding-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    .main {
        padding-top: 100px;
    }

    .clock {
        height: 400px;
    }

    .clock>.hour,
    .hr {
        width: 160px;
        height: 160px;
    }

    .clock>.min,
    .mn {
        width: 230px;
        height: 230px;
    }

    .hr:before {
        height: 80px;
    }

    .mn:before {
        height: 120px;
    }
}

@media screen and (max-width: 375px) {
    .main {
        padding-top: 50px;
    }

    .clock {
        height: 350px;
    }
}

@media screen and (max-width: 320px) {
    .clock {
        height: 300px;
    }
}