@media screen and (max-width: 1280px) {
    .main {
        padding-top: 100px;
    }
}

@media screen and (max-width: 500px) {
    .main {
        padding-top: 100px;
    }

    .clock {
        height: 400px;
    }
}

@media screen and (max-width: 375px) {
    .main {
        padding-top: 50px;
    }

    .clock {
        height: 350px;
    }
}

@media screen and (max-width: 320px) {
    .clock {
        height: 300px;
    }
}